/**
 * CFSJ - June, 2016
 * @author Negotium Technologies
 * Carousel
 */

// ====================================================================
// ====================================================================
// =========================== IMPORTS ================================
// ====================================================================
// ====================================================================



// Framework
// ====================================================================

@import "compass";


// Default
// ====================================================================

@import "../../../masterpage/app/sass/partials/variables";
@import "../../../masterpage/app/sass/partials/placeholders";
@import "../../../masterpage/app/sass/partials/mixins";
@import "../../../masterpage/app/sass/partials/fonts";




// ====================================================================
// ====================================================================
// =========================== COMMUN =================================
// ====================================================================
// ====================================================================

// Header

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
	@include appHeader(52px);
	background-color: $colWPHeader;
	font-size:1em
}

h2.md-toolbar-tools {
	@include appHeader(52px);
	@include font-custom1(300,2.16em);
	color:$colMainBlue;
	padding-left:$WPHeader-padding;
}


// Container 

.CorporateNews  {
	md-list {
	  padding: 0;
	}

	md-list-item {
		@include box-sizing(border-box);
		padding: 12px;

		&.md-3-line,
		&.md-3-line::before,
		.md-3-line>._md-no-style::before {
			min-height: 100%
		}

		.md-list-item-text {
			&.newsCont {
				margin: 0
			}

			&.pic {
				width:72px;
				max-height: 50px;
				margin:0 16px 0 0;
				padding:2px;
			}
		}

		strong {
			@include font-custom1(500,1.166667em);
		}

		strong,
		.newsDate {
			color: $noir;

			i {
				font-size: 1.1666667em;
				font-weight: 600;
				position: relative;
				top: 3px
			}
		}

		.newsAbstract {
			color:$lightBlack
		}
	}

	md-sidenav, md-backdrop {
		position: fixed !important;
	}

	md-sidenav{
		width:400px;

		md-toolbar .md-button
		{
			color: #013A81 !important;
		}
		
		md-content img
		{
			width:100%
		}

		md-content .md-button
		{
			font-size:x-small;
			line-height: 20px;
		}
	}
}