/**
 * CFSJ - June, 2016
 * @author Negotium Technologies
 * Masterpage

* IMPORTS
* COMMUN
* LAYOUT
	** Home page

 */
/* line 4, ../sass/partials/_base.scss */
html {
  font-size: 100%;
}

/* line 9, ../sass/partials/_base.scss */
body {
  font-size: 75%;
  font-family: arial;
  line-height: 1.4;
}
/* line 18, ../sass/partials/_base.scss */
.no-fontface body {
  font-size: 1.05em;
}

/* line 23, ../sass/partials/_base.scss */
ul,
li {
  margin: 0;
  padding: 0;
}

/* line 29, ../sass/partials/_base.scss */
a {
  color: #013a81;
}
/* line 32, ../sass/partials/_base.scss */
a:hover {
  text-decoration: underline;
}
/* line 36, ../sass/partials/_base.scss */
a:visited {
  color: #013a81;
}
/* line 40, ../sass/partials/_base.scss */
a img.ms-asset-icon.ms-rtePosition-4 {
  display: none;
}

/* line 45, ../sass/partials/_base.scss */
::-moz-selection {
  background: #FDB813;
  text-shadow: none;
}

/* line 50, ../sass/partials/_base.scss */
::selection {
  background: #FDB813;
  text-shadow: none;
  color: #fff;
}

/* line 16, ../sass/partials/_placeholders.scss */
.floatL {
  float: left;
}

/* line 112, ../sass/partials/_placeholders.scss */
.ms-qSuggest-list {
  margin: 0;
  padding: 0;
}

/* TOC - DESKTOP | Controls | Logo
---------------------------------------------------
* MAIN CONTAINER


*/
/* line 12, ../sass/partials/controls/_logo.scss */
#logoCont {
  padding: 0 25px 0 5px;
}

/* line 8, ../sass/partials/controls/_topNavBar.scss */
.ms-core-listMenu-horizontalBox > ul.root {
  position: relative;
}
/* line 11, ../sass/partials/controls/_topNavBar.scss */
.ms-core-listMenu-horizontalBox > ul.root > li:first-child > .ms-core-listMenu-item > span {
  padding-left: 0;
}
/* line 21, ../sass/partials/controls/_topNavBar.scss */
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
  font: bold 1.66em "Roboto Condensed", Arial, sans-serif;
  text-shadow: none;
  border: 1px solid transparent;
  padding: 10px 0;
  margin-right: 0px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 31, ../sass/partials/controls/_topNavBar.scss */
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:link, .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:visited {
  color: #013a81;
}
/* line 36, ../sass/partials/controls/_topNavBar.scss */
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover {
  text-decoration: underline;
}
/* line 48, ../sass/partials/controls/_topNavBar.scss */
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item > span {
  border-right: 1px solid transparent;
  display: inline-block;
  padding: 0 15px;
}
/* line 55, ../sass/partials/controls/_topNavBar.scss */
.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited {
  background-color: transparent;
  /* [ReplaceColor(themeColor:"NavigationAccent")] */
  color: #013a81 !important;
}
/* line 62, ../sass/partials/controls/_topNavBar.scss */
.ms-core-listMenu-horizontalBox .additional-background.dynamic-children {
  padding-right: 16px;
  /* [RecolorImage(themeColor:"BodyText",method:"Filling")] */
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

/* TOC - DESKTOP | Controls | Search
---------------------------------------------------
* SEARCH BORDER
* SEARCH INPUT
* DROP DOWN
	** Button Arrow
	** Drop down list
* SEARCH ICON

*/
/* line 16, ../sass/partials/controls/_search.scss */
.searchCont .ms-WPBody {
  background-color: transparent;
}

/* line 25, ../sass/partials/controls/_search.scss */
.ms-srch-sb-border {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  border: 2px solid #666;
  height: 50px;
  margin: 25px 20px 0 0;
  width: 360px;
}
/* line 33, ../sass/partials/controls/_search.scss */
.ms-srch-sb-border:hover {
  border: 2px solid #666;
}
/* line 38, ../sass/partials/controls/_search.scss */
.ms-srch-sb-borderFocused {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  border: 2px solid #666;
  height: 50px;
  margin: 25px 20px 0 0;
  width: 360px;
}

/* line 52, ../sass/partials/controls/_search.scss */
.ms-srch-sb > input {
  font: normal 1.16em "Roboto", Arial, sans-serif;
  text-shadow: none;
  background-color: #fff;
  color: #4d4d4d;
  height: 46px;
  margin: 0 0 0 15px;
  width: 285px;
}
/* line 61, ../sass/partials/controls/_search.scss */
.ms-srch-sb > input:focus {
  border-style: none;
  color: #4d4d4d;
  outline-style: none;
}

/* line 76, ../sass/partials/controls/_search.scss */
.ms-srch-sb-navLink,
.ms-srch-sb-searchLink {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  top: 12px;
  overflow: hidden;
}
/* line 87, ../sass/partials/controls/_search.scss */
.ms-srch-sb-navLink:hover,
.ms-srch-sb-searchLink:hover {
  /* [ReplaceColor(themeColor:"ButtonHoverBackground",opacity:"1")] */
  background-color: #e6e6e6;
  /* [ReplaceColor(themeColor:"ButtonHoverBackground")] */
  background-color: #e6e6e6;
}
/* line 92, ../sass/partials/controls/_search.scss */
.ms-srch-sb-navLink:active,
.ms-srch-sb-navLink > img:active, .ms-srch-sb-navLink.ms-srch-sb-navLink-menuOpen, .ms-srch-sb-navLink.ms-srch-sb-navLink-menuOpen:hover,
.ms-srch-sb-searchLink:active,
.ms-srch-sb-searchLink > img:active,
.ms-srch-sb-searchLink.ms-srch-sb-navLink-menuOpen,
.ms-srch-sb-searchLink.ms-srch-sb-navLink-menuOpen:hover {
  /* [ReplaceColor(themeColor:"ButtonPressedBackground",opacity:"1")] */
  background-color: #e6e6e6;
  /* [ReplaceColor(themeColor:"ButtonPressedBackground")] */
  background-color: #e6e6e6;
}

/* line 105, ../sass/partials/controls/_search.scss */
.ms-qSuggest-container {
  background-color: #fff;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: rgba(230, 230, 230, 0.47) 0 0 7px 0;
  -webkit-box-shadow: rgba(230, 230, 230, 0.47) 0 0 7px 0;
  box-shadow: rgba(230, 230, 230, 0.47) 0 0 7px 0;
  margin: -1px 0 0 -1px;
  padding: 5px 0;
}

/* line 119, ../sass/partials/controls/_search.scss */
.ms-qSuggest-listItem {
  margin: 0;
  padding: 7px 10px;
}

/* line 126, ../sass/partials/controls/_search.scss */
.ms-qSuggest-hListItem {
  /* [ReplaceColor(themeColor:"HoverBackground",opacity:"1")] */
  background-color: #e6e6e6;
  /* [ReplaceColor(themeColor:"HoverBackground")] */
  background-color: rgba(230, 230, 230, 0.5);
}

/* line 158, ../sass/partials/controls/_search.scss */
.ms-srch-sb > a.ms-srch-sb-searchLink {
  background: transparent url('images/searchIcon_25X25.png?1466178875') no-repeat 0 -3px;
  background-size: 25px 25px;
  margin-top: 0;
  height: 25px;
  width: 25px;
}
/* line 168, ../sass/partials/controls/_search.scss */
.ms-srch-sb > a.ms-srch-sb-searchLink > img {
  visibility: hidden;
}

/* line 177, ../sass/partials/controls/_search.scss */
.ms-srch-sb-searchImg {
  left: -35px;
  top: -57px;
  position: absolute;
}
/* line 182, ../sass/partials/controls/_search.scss */
.ms-srch-sb-searchImg:hover {
  left: -1px;
  top: -69px;
}

/* line 188, ../sass/partials/controls/_search.scss */
.ms-srch-sb-navImg {
  left: -35px;
  top: -35px;
  position: absolute;
}
/* line 193, ../sass/partials/controls/_search.scss */
.ms-srch-sb-navImg:hover, .ms-srch-sb-navLink-menuOpen > .ms-srch-sb-navImg {
  left: -57px;
  top: -35px;
}

/* line 8, ../sass/partials/wp/_webparts.scss */
.ms-webpart-chrome-title {
  background-color: #e6e6e6;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  height: 52px;
  margin-bottom: 0;
}
/* line 17, ../sass/partials/wp/_webparts.scss */
.ms-SPZone > .s4-wpActive .ms-webpart-chrome-title, .ms-rtestate-write > .ms-rte-wpbox > div > .s4-wpActive .ms-webpart-chrome-title {
  background-color: transparent;
  border-bottom-width: 0;
  border-top: 0;
  color: #fff;
}

/* line 30, ../sass/partials/wp/_webparts.scss */
.ms-webpart-titleText {
  padding-left: 15px;
  margin: 0;
  /* Icon at the left of the title */
}
/* line 35, ../sass/partials/wp/_webparts.scss */
.s4-wpcell .ms-webpart-titleText, .s4-wpActive .ms-webpart-titleText {
  padding-left: 0px;
}
/* line 40, ../sass/partials/wp/_webparts.scss */
.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {
  font: 300 2.16em "Roboto", Arial, sans-serif;
  text-shadow: none;
  color: #013a81;
  display: block;
  line-height: 52px;
}
/* line 49, ../sass/partials/wp/_webparts.scss */
.ms-webpart-titleText.ms-webpart-titleText-withMenu {
  color: #013a81;
}
/* line 53, ../sass/partials/wp/_webparts.scss */
.ms-SPZone > .s4-wpActive .ms-webpart-titleText.ms-webpart-titleText-withMenu, .ms-rtestate-write > .ms-rte-wpbox > div > .s4-wpActive .ms-webpart-titleText.ms-webpart-titleText-withMenu {
  color: #013a81;
}
/* line 58, ../sass/partials/wp/_webparts.scss */
.ms-webpart-titleText > a:link, .ms-webpart-titleText > a:visited, .ms-webpart-titleText > a:hover {
  /* [ReplaceColor(themeColor:"CommandLinksHover")] */
  color: #013a81;
  text-decoration: none;
}
/* line 65, ../sass/partials/wp/_webparts.scss */
.ms-webpart-titleText > a:active {
  /* [ReplaceColor(themeColor:"CommandLinksPressed")] */
  color: #013a81;
}

/* line 79, ../sass/partials/wp/_webparts.scss */
.ms-WPBody {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fbfbfb;
}
/* line 83, ../sass/partials/wp/_webparts.scss */
.placeholder-carousel .ms-WPBody {
  background-color: transparent;
}

/* line 58, ../sass/app.scss */
#s4-workspace {
  background-color: #fff;
}

/* line 63, ../sass/app.scss */
#s4-bodyContainer {
  padding-bottom: 0;
}

/* line 70, ../sass/app.scss */
#s4-titlerow {
  height: 105px;
  padding-top: 0;
}

/* line 89, ../sass/app.scss */
.homeSideNav {
  background-color: #f2f2f2;
  width: 75px;
}

/* line 94, ../sass/app.scss */
.homeContent {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 20px;
}
/* line 98, ../sass/app.scss */
.homeContent .placeholder-poll,
.homeContent .right-part {
  margin-left: 20px;
}

/* line 104, ../sass/app.scss */
.placeholder-carousel,
.placeholder-poll {
  margin-bottom: 20px;
}

/* line 114, ../sass/app.scss */
.ms-webpart-zone,
.ms-webpart-cell-vertical,
.ms-webpart-chrome-vertical {
  display: block;
}
