<html>

<body>

    <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
    <div layout="row">
        <!-- SIDE NAV -->
        <div layout="column" class="homeSideNav">
            
        </div>

        <!-- CONTENT -->
        <div layout="column" class="homeContent" flex="100">
            <div class="placeholder-page-fields">
                <div>
                    <!--CS: Start Page Field: Title Snippet-->
                    <!--SPM:<%@Register Tagprefix="PageFieldTextField" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                    <!--MS:<Publishing:EditModePanel runat="server" CssClass="edit-mode-panel">-->
                    <!--MS:<PageFieldTextField:TextField FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
                    <!--ME:</PageFieldTextField:TextField>-->
                    <!--ME:</Publishing:EditModePanel>-->
                    <!--CE: End Page Field: Title Snippet-->
                </div>
            </div>

            <div layout="row">
                <!-- CONTENT | LEFT COL -->
                <div layout="column" class="left-part" flex="75">
                    <!-- Row 1-->
                    <div layout="row">
                        <div data-name="WebPartZone" class="placeholder-carousel" flex="100">
                            <!--CS: Start Web Part Zone Snippet-->
                            <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                            <div xmlns:ie="ie">
                                <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="xcffa6ab5585c4caf97594401ce3eef66" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                <!--MS:<ZoneTemplate>-->
                                <!--DC: Replace this comment with default web parts for new pages. -->
                                <!--ME:</ZoneTemplate>-->
                                <!--ME:</WebPartPages:WebPartZone>-->
                            </div>
                            <!--CE: End Web Part Zone Snippet-->
                        </div>                        
                    </div>
                    <!-- Row 2-->
                    <div layout="row">
                        <div layout="column" class="left-part" flex="100">
                            <div data-name="WebPartZone" class="placeholder-corporate-news" flex="100">
                                <!--CS: Start Web Part Zone Snippet-->
                                <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                                <div xmlns:ie="ie">
                                    <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="x0e40f96cef33456993a1aeec2d2e2ccf" FrameType="TitleBarOnly" Orientation="Vertical">-->
                                    <!--MS:<ZoneTemplate>-->
                                    <!--DC: Replace this comment with default web parts for new pages. -->
                                    <!--ME:</ZoneTemplate>-->
                                    <!--ME:</WebPartPages:WebPartZone>-->
                                </div>
                                <!--CE: End Web Part Zone Snippet-->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CONTENT | RIGHT COL -->
                <div class="right-part" flex="25" layout="column">
                    <div data-name="WebPartZone" class="calendar-placeholder" flex="100" layout="column">
                        <!--CS: Start Web Part Zone Snippet-->
                        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                        <div xmlns:ie="ie">
                            <!--MS:<WebPartPages:WebPartZone runat="server" AllowPersonalization="false" ID="x0e40f96cef33456993a1aeec2d2e2cb0" FrameType="TitleBarOnly" Orientation="Vertical">-->
                            <!--MS:<ZoneTemplate>-->
                            <!--DC: Replace this comment with default web parts for new pages. -->
                            <!--ME:</ZoneTemplate>-->
                            <!--ME:</WebPartPages:WebPartZone>-->
                        </div>
                        <!--CE: End Web Part Zone Snippet-->
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--ME:</asp:ContentPlaceHolder>-->
    <!-- Carousel and Poll banner -->



</body>

</html>