/**
 * CFSJ - June, 2016
 * @author Negotium Technologies
 * Masterpage

* IMPORTS
* COMMUN
* LAYOUT
	** Home page

 */

// ====================================================================
// ====================================================================
// =========================== IMPORTS ================================
// ====================================================================
// ====================================================================



// ** IMPORTS | Framework
// ====================================================================

@import "compass";


// ** IMPORTS | Default
// ====================================================================

@import "partials/variables";
@import "partials/base";
@import "partials/placeholders";
@import "partials/mixins";
@import "partials/fonts";


// ** IMPORTS | Controls SP
// ====================================================================
@import "partials/controls/logo";
@import "partials/controls/topNavBar";
@import "partials/controls/search";

// ** IMPORTS | Webparts SP
// ====================================================================
@import "partials/wp/webparts";



// ====================================================================
// ====================================================================
// =========================== COMMUN =================================
// ====================================================================
// ====================================================================

// ** COMMUN | Main container
// --------------------------------------------------------------------

#s4-workspace {
	background-color:$blanc
}


#s4-bodyContainer {
    padding-bottom: 0;
}

// ** COMMUN | Header
// --------------------------------------------------------------------

#s4-titlerow {
	height: 105px;
	padding-top:0
}


///


// ====================================================================
// ====================================================================
// =========================== LAYOUT =================================
// ====================================================================
// ====================================================================


// ** LAYOUT | Home page
// --------------------------------------------------------------------

.homeSideNav {
	background-color: $colSticker;
	width: 75px
}

.homeContent {
	@include box-sizing(border-box);
	margin-left: $layoutGutter;

	.placeholder-poll,
	.right-part {
		margin-left: $layoutGutter;
	}
}

.placeholder-carousel,
.placeholder-poll {
	margin-bottom: $layoutGutter
}


// ** LAYOUT | WP zone
// --------------------------------------------------------------------


.ms-webpart-zone, 
.ms-webpart-cell-vertical, 
.ms-webpart-chrome-vertical{
  display: block;
}
